In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import os
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN','NAME''ORGANIZATION','CLASSIFICATION'.
attempt1_df= application_df.drop(['EIN','NAME','ORGANIZATION','CLASSIFICATION'],axis=1)

In [3]:
# Determine the number of unique values in each column.
attempt1_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
USE_CASE                     5
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = attempt1_df.APPLICATION_TYPE.value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application =  list(app_type_counts[app_type_counts<700].index)

# Replace in dataframe
for app in replace_application:
    attempt1_df.APPLICATION_TYPE = attempt1_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
attempt1_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Generate our categorical variable lists
application_cat = attempt1_df.dtypes[application_df.dtypes=="object"].index.tolist()

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attempt1_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\HP\anaconda3\envs\PythonData\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
attempt1_df = attempt1_df.merge(encode_df,left_index=True,right_index=True)
attempt1_df = attempt1_df.drop(application_cat,1)
attempt1_df.head()

C:\Users\HP\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Split our preprocessed data into our features and target arrays
y = attempt1_df["IS_SUCCESSFUL"].values
X = attempt1_df.drop(["IS_SUCCESSFUL"],axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train,X_test, y_train, y_test = train_test_split(X,y,random_state=78)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80,input_dim=number_input_features,activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2640

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,101
Trainable params: 5,101
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [14]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=98)

Epoch 1/98
804/804 [==============================] - 2s 2ms/step - loss: 92695.5234 - accuracy: 0.5069
Epoch 2/98
804/804 [==============================] - 1s 2ms/step - loss: 132386.6875 - accuracy: 0.4967
Epoch 3/98
804/804 [==============================] - 1s 2ms/step - loss: 97599.4453 - accuracy: 0.5129
Epoch 4/98
804/804 [==============================] - 1s 2ms/step - loss: 61695.3984 - accuracy: 0.5031
Epoch 5/98
804/804 [==============================] - 1s 2ms/step - loss: 29708.7500 - accuracy: 0.4937
Epoch 6/98
804/804 [==============================] - 1s 2ms/step - loss: 35902.5352 - accuracy: 0.4850
Epoch 7/98
804/804 [==============================] - 1s 2ms/step - loss: 66025.3516 - accuracy: 0.5049
Epoch 8/98
804/804 [==============================] - 1s 2ms/step - loss: 31295.1895 - accuracy: 0.4955
Epoch 9/98
804/804 [==============================] - 1s 2ms/step - loss: 37844.6641 - accuracy: 0.4986
Epoch 10/98
804/804 [==============================] - 1s 2ms/step - loss: 54876.0234 - accuracy: 0.5215
Epoch 11/98
804/804 [==============================] - 1s 2ms/step - loss: 11404.1963 - accuracy: 0.5157
Epoch 12/98
804/804 [==============================] - 1s 2ms/step - loss: 20393.8242 - accuracy: 0.4970
Epoch 13/98
804/804 [==============================] - 1s 2ms/step - loss: 19576.0938 - accuracy: 0.5152
Epoch 14/98
804/804 [==============================] - 1s 2ms/step - loss: 33337.9531 - accuracy: 0.5229
Epoch 15/98
804/804 [==============================] - 1s 2ms/step - loss: 5233.1748 - accuracy: 0.5247
Epoch 16/98
804/804 [==============================] - 1s 2ms/step - loss: 10426.7568 - accuracy: 0.5024
Epoch 17/98
804/804 [==============================] - 1s 2ms/step - loss: 12887.4873 - accuracy: 0.5189
Epoch 18/98
804/804 [==============================] - 1s 2ms/step - loss: 10776.3594 - accuracy: 0.5192
Epoch 19/98
804/804 [==============================] - 1s 2ms/step - loss: 2858.8850 - accuracy: 0.5000
Epoch 20/98
804/804 [==============================] - 1s 2ms/step - loss: 1354.9039 - accuracy: 0.5154
Epoch 21/98
804/804 [==============================] - 1s 2ms/step - loss: 2262.8679 - accuracy: 0.5053
Epoch 22/98
804/804 [==============================] - 1s 2ms/step - loss: 2542.0845 - accuracy: 0.5109
Epoch 23/98
804/804 [==============================] - 1s 2ms/step - loss: 1210.1584 - accuracy: 0.5010
Epoch 24/98
804/804 [==============================] - 1s 2ms/step - loss: 46.3343 - accuracy: 0.5247
Epoch 25/98
804/804 [==============================] - 1s 2ms/step - loss: 0.7041 - accuracy: 0.5321
Epoch 26/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 27/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 28/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 29/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 30/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 31/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 32/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 33/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 34/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 35/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 36/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 37/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 38/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 39/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 40/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 41/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 42/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 43/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 44/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 45/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 46/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 47/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 48/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 49/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 50/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 51/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 52/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 53/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 54/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 55/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 56/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 57/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321
Epoch 58/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 59/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 60/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 61/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 62/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 63/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 64/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 65/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 66/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 67/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 68/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 69/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 70/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 71/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 72/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 73/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 74/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 75/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 76/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 77/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 78/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 79/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 80/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 81/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 82/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 83/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6914 - accuracy: 0.5321
Epoch 84/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 85/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 86/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 87/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 88/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 89/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 90/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 91/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 92/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 93/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 94/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 95/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 96/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321
Epoch 97/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6913 - accuracy: 0.5321
Epoch 98/98
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5321

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6651 - accuracy: 0.7138 - 474ms/epoch - 2ms/step
Loss: 0.6650574207305908, Accuracy: 0.7138192653656006